venv/
.venv/


__pycache__/
*.py[cod]

*.duckdb
*.duckdb.wal
*.tmp

.env/
.env

logs/*
!logs/.gitkeep

# data folders (keep structure, ignore contents)
data/*
!data/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/dlq/*
!data/dlq/.gitkeep
data/parquet/*
!data/parquet/.gitkeep